/* Others */ /* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Font */
html {
  cursor: default;
}

html, body {
  font-size: 10px;
}

body {
  background-color: #0B1D26;
}

::-webkit-scrollbar {
  width: 0;
}

.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 178rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/700/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/700/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/700/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto/700/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto/700/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto/700/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  z-index: 1;
  transition: fill 0.1s linear;
}
.icon--social {
  transform: rotate(-90deg);
}

/* Blocks */
.header {
  width: 100%;
  margin-top: 6.4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: normal;
  color: #fff;
  position: relative;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: inline-block;
}

.header__nav-link {
  margin-right: 4rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: normal;
  color: #fff;
}
.header__nav-link:last-child {
  margin-right: 0;
}
.header__nav-link:hover {
  text-decoration: underline;
}

.header__account {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.7rem;
  line-height: normal;
  color: #fff;
  cursor: pointer;
}
.header__account:hover {
  text-decoration: underline;
}
.header__account:hover .header__element {
  background-color: #fff;
}
.header__account:hover .icon {
  fill: #0B1D26;
}

.header__element {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.1s linear;
}
.header__element--account {
  margin-right: 1rem;
}
.header__element--social {
  margin-left: 2rem;
  cursor: pointer;
}
.header__element--social:hover {
  background-color: #fff;
}
.header__element--social:hover .icon {
  fill: #0B1D26;
}

.header__sidebar {
  position: absolute;
}
.header__sidebar--social {
  display: flex;
  align-items: center;
  top: 36rem;
  left: -7.3rem;
  transform: rotate(90deg);
}
.header__sidebar--slider {
  top: 34rem;
  right: 0.3rem;
}

.header__slider-item {
  display: block;
  padding: 1.9rem 3.2rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: normal;
  color: #fff;
  text-align: right;
  position: relative;
  transition: background-color 0.1s linear, color 0.1s linear;
}
.header__slider-item:hover {
  background-color: #fff;
  color: #0B1D26;
}
.header__slider-item:after {
  content: "";
  display: block;
  width: 0.3rem;
  height: 6rem;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: -0.3rem;
  z-index: 1;
}
.header__slider-item.active:after {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */