/* Others */ /* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Font */
/* Suptitle */
html {
  cursor: default;
}

html,
body {
  font-size: 10px;
}

body {
  background-image: url("../img/intro.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0b1d26;
}

::-webkit-scrollbar {
  width: 0;
}

.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 178rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.container--section, .container--footer {
  max-width: 148rem;
}

/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/500/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/500/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/500/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto/500/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto/500/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto/500/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/700/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/700/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/700/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto/700/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto/700/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto/700/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/900/roboto-v30-latin-900.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto/900/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/900/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto/900/roboto-v30-latin-900.woff") format("woff"), url("../fonts/roboto/900/roboto-v30-latin-900.ttf") format("truetype"), url("../fonts/roboto/900/roboto-v30-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* playfair-display-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/playfair-display/600/playfair-display-v30-latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/playfair-display/600/playfair-display-v30-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair-display/600/playfair-display-v30-latin-600.woff2") format("woff2"), url("../fonts/playfair-display/600/playfair-display-v30-latin-600.woff") format("woff"), url("../fonts/playfair-display/600/playfair-display-v30-latin-600.ttf") format("truetype"), url("../fonts/playfair-display/600/playfair-display-v30-latin-600.svg#PlayfairDisplay") format("svg"); /* Legacy iOS */
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  z-index: 1;
  transition: fill 0.1s linear;
}
.icon--social {
  transform: rotate(-90deg);
}
.icon--arrow {
  width: 1.6rem;
  right: -3.6rem;
  left: auto;
}
.icon--section {
  fill: #fbd784;
  top: 0;
  left: auto;
  right: -3.4rem;
  transform: rotate(-90deg);
}

/* Blocks */
.header {
  width: 100%;
  margin-top: 6.4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header.fixed {
  margin-top: 0;
  padding: 2rem 0;
  background-color: #0b1d26;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  position: fixed;
}

.header__inner {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: normal;
  color: #fff;
  position: relative;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: inline-block;
}

.header__nav-link {
  margin-right: 4rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: normal;
  color: #fff;
}
.header__nav-link:last-child {
  margin-right: 0;
}
.header__nav-link:hover {
  text-decoration: underline;
}

.header__account {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.7rem;
  line-height: normal;
  color: #fff;
  cursor: pointer;
}
.header__account:hover {
  text-decoration: underline;
}
.header__account:hover .header__element {
  background-color: #fff;
}
.header__account:hover .icon {
  fill: #0b1d26;
}

.header__element {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.1s linear;
}
.header__element--account {
  margin-right: 1rem;
}
.header__element--social {
  margin-left: 2rem;
  cursor: pointer;
}
.header__element--social:hover {
  background-color: #fff;
}
.header__element--social:hover .icon {
  fill: #0b1d26;
}

.header__sidebar {
  position: absolute;
}
.header__sidebar--social {
  display: flex;
  align-items: center;
  top: 36rem;
  left: -7.3rem;
  transform: rotate(90deg);
}
.header__sidebar--slider {
  top: 34rem;
  right: 0.3rem;
}

.header__slider-item {
  display: block;
  padding: 1.9rem 3.2rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: normal;
  color: #fff;
  text-align: right;
  position: relative;
  transition: background-color 0.1s linear, color 0.1s linear;
}
.header__slider-item:hover {
  background-color: #fff;
  color: #0b1d26;
}
.header__slider-item:after {
  content: "";
  display: block;
  width: 0.3rem;
  height: 6rem;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: -0.3rem;
  z-index: 1;
}
.header__slider-item.active:after {
  opacity: 1;
}

.intro {
  width: 96rem;
  height: 230rem;
  margin: 0 auto;
  padding-top: 29rem;
}

.intro__suptitle {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.8rem;
  line-height: normal;
  color: #fbd784;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 3.2rem;
  padding-left: 10.4rem;
}
.intro__suptitle:before {
  content: "";
  display: block;
  width: 7.2rem;
  height: 0.2rem;
  background-color: #fbd784;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translate(0, -50%);
}

.intro__title {
  margin-bottom: 3.2rem;
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 8.8rem;
  line-height: 1.14;
  color: #fff;
  text-transform: capitalize;
}

.intro__button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: normal;
  color: #fff;
  position: relative;
}
.intro__button:hover {
  text-decoration: underline;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem;
}
.section--even .section__content {
  order: 2;
}

.section__content {
  width: 53.5%;
  padding: 14rem 0 0 15rem;
  position: relative;
}

.section__number {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 3.8rem;
  left: 0;
  z-index: 1;
}

.section__suptitle {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.8rem;
  line-height: normal;
  color: #fbd784;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2.7rem;
  padding-left: 9.6rem;
}
.section__suptitle:before {
  content: "";
  display: block;
  width: 7.2rem;
  height: 0.2rem;
  background-color: #fbd784;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translate(0, -50%);
}

.section__title {
  margin-bottom: 2.7rem;
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 6.4rem;
  line-height: normal;
  color: #fff;
}

.section__text {
  margin-bottom: 2.7rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #fff;
}

.section__button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: normal;
  color: #fbd784;
  position: relative;
}
.section__button:hover {
  text-decoration: underline;
}

.section__preview {
  width: 38.7%;
}

.footer {
  display: flex;
  margin-bottom: 12rem;
}

.footer__col--1 {
  width: 60%;
}
.footer__col--2 {
  width: 28%;
}
.footer__col--3 {
  width: 12%;
}

.footer__logo {
  margin-bottom: 2.4rem;
}

.footer__text {
  margin-bottom: 12.2rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #fff;
}

.footer__copyright {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.5);
}

.footer__title {
  margin-bottom: 2.4rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.3;
  color: #fbd784;
}

.footer__link {
  display: block;
  margin-bottom: 1.6rem;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #fff;
}
.footer__link:last-child {
  margin-bottom: 0;
}
.footer__link:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */