html {
    cursor: default;
}

html,
body {
    font-size: 10px;
}

body {
    background-image: url("../img/intro.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $main;
}

::-webkit-scrollbar {
    width: 0;
}

.page {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 178rem;
    margin: 0 auto;
    padding: 0 1rem;

    &--section,
    &--footer {
        max-width: 148rem;
    }
}
