// Colors
$white: #fff;
$black: #000;
$main: #0b1d26;
$beige: #fbd784;

// Breakpoints
$xxl: 1400px; // Extra extra large
$xl: 1200px; // Extra large
$lg: 991px; // Large
$md: 767px; // Medium
$sm: 568px; // Small
$xs: 320px; // X-small
