.header {
    width: 100%;
    margin-top: 6.4rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}



.header__inner {
    @include font('Roboto', 700, 1.8rem, normal, $white);

    position: relative;
}



.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header__nav {
    display: inline-block;
}



.header__nav-link {
    margin-right: 4rem;
    
    @include font('Roboto', 700, 1.8rem, normal, $white);


    &:last-child {
        margin-right: 0
    }


    &:hover {
        text-decoration: underline;
    }
}



.header__account {
    display: flex;
    align-items: center;

    @include font('Roboto', 700, 1.7rem, normal, $white);

    cursor: pointer;


    &:hover {
        text-decoration: underline;
    }

    &:hover .header__element {
        background-color: $white;
    }

    &:hover .icon {
        fill: $main;
    }
}



.header__element {
    display: block;
    width: 3rem;
    height: 3rem;

    background-color: transparent;
    border-radius: 50%;

    position: relative;
    transition: background-color .1s linear;


    &--account {
        margin-right: 1rem;
    }

    &--social {
        margin-left: 2rem;

        cursor: pointer;


        &:hover {
            background-color: $white;
        }

        &:hover .icon {
            fill: $main;
        }
    }
}



.header__sidebar {
    position: absolute;

    &--social {
        display: flex;
        align-items: center;
    
        top: 36rem;
        left: -7.3rem;
    
        transform: rotate(90deg);
    }

    &--slider {
        top: 34rem;
        right: .3rem;
    }
}



.header__slider-item {
    display: block;
    padding: 1.9rem 3.2rem;

    @include font('Roboto', 700, 1.8rem, normal, $white);
    text-align: right;

    position: relative;

    transition: background-color .1s linear, color .1s linear;


    &:hover {
        background-color: $white;
        color: $main;
    }


    &:after {
        content: '';
        display: block;
        width: .3rem;
        height: 6rem;

        background-color: $white;
        opacity: .5;

        position: absolute;
        top: 0;
        right: -.3rem;
        z-index: 1;
    }


    &.active:after {
        opacity: 1;
    }
}