.header {
    width: 100%;
    margin-top: 6.4rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    &.fixed {
        margin-top: 0;
        padding: 2rem 0;

        background-color: $main;
        -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

        position: fixed;
    }

    @media (max-width: $sm) {
        &.fixed {
            padding: 1rem 0;
        }
    }
}

.header__inner {
    @include font("Roboto", 700, 1.8rem, normal, $white);

    position: relative;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $sm) {
        justify-content: right;

        position: relative;
    }
}

.header__logo {
    @media (max-width: $sm) {
        position: absolute;
        top: 0.3rem;
        left: 0;
        z-index: 1;
    }
}

.header__nav {
    display: inline-block;

    @media (max-width: $sm) {
        display: none;

        background-color: $main;
        border: 0.1rem solid $white;

        position: absolute;
        top: 4rem;
        right: -1rem;
        z-index: 1;

        &.active {
            display: block;
        }
    }
}

.header__nav-link {
    margin-right: 4rem;

    @include font("Roboto", 700, 1.8rem, normal, $white);

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        text-decoration: underline;
    }

    @media (max-width: $sm) {
        display: block;
        margin-right: 0;
        padding: 1rem 2rem;

        border-bottom: 0.1rem solid $white;

        text-align: center;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            color: $main;
            text-decoration: none;

            background-color: $white;

            transition: color 0.1s linear, background-color 0.1s linear;
        }
    }
}

.header__burger {
    display: none;
    width: 5rem;
    height: 2.5rem;
    margin-left: 2rem;

    cursor: pointer;

    position: relative;

    &:after {
        content: "";
        display: none;
        width: 3rem;
        height: 3rem;

        background-color: $white;
        border-radius: 50%;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;

        transform: translate(-50%, -50%);
    }

    &.active {
        width: 2.6rem;

        border: 0.3rem solid $main;
        border-radius: 50%;
    }

    &.active:after {
        display: block;
    }

    &.active .header__burger-item {
        width: 2rem;
        height: 0.3rem;

        background-color: $main;

        top: 0.8rem;
        transform: rotate(45deg);
    }

    &.active .header__burger-item:before {
        display: none;
    }

    &.active .header__burger-item:after {
        width: 2rem;

        background-color: $main;

        top: unset;

        transform: rotate(90deg);
    }

    @media (max-width: $sm) {
        display: block;
    }
}

.header__burger-item {
    display: none;
    width: 5rem;
    height: 0.5rem;

    font-size: 0;
    color: transparent;

    background-color: $white;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &:before {
        @include burger-element;
        width: 4.5rem;
        height: 0.4rem;
        top: 1.2rem;
    }

    &:after {
        @include burger-element;
        width: 4rem;
        height: 0.3rem;
        top: 2.2rem;
    }

    @media (max-width: $sm) {
        display: block;
    }
}

.header__account {
    display: flex;
    align-items: center;

    @include font("Roboto", 700, 1.7rem, normal, $white);

    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:hover .header__element {
        background-color: $white;
    }

    &:hover .icon {
        fill: $main;
    }

    @media (max-width: $md) {
        font-size: 0;
        color: transparent;
    }
}

.header__element {
    display: block;
    width: 3rem;
    height: 3rem;

    background-color: transparent;
    border-radius: 50%;

    position: relative;
    transition: background-color 0.1s linear;

    &--account {
        margin-right: 1rem;

        @media (max-width: $md) {
            margin-right: 0;
        }
    }

    &--social {
        margin-left: 2rem;

        cursor: pointer;

        &:hover {
            background-color: $white;
        }

        &:hover .icon {
            fill: $main;
        }
    }
}

.header__sidebar {
    position: absolute;

    &--social {
        display: flex;
        align-items: center;

        top: 36rem;
        left: -7.3rem;

        transform: rotate(90deg);
    }

    &--slider {
        top: 34rem;
        right: 0.3rem;
    }
}

.header__slider-item {
    display: block;
    padding: 1.9rem 3.2rem;

    @include font("Roboto", 700, 1.8rem, normal, $white);
    text-align: right;

    position: relative;

    transition: background-color 0.1s linear, color 0.1s linear;

    &:hover {
        background-color: $white;
        color: $main;
    }

    &:after {
        content: "";
        display: block;
        width: 0.3rem;
        height: 6rem;

        background-color: $white;
        opacity: 0.5;

        position: absolute;
        top: 0;
        right: -0.3rem;
        z-index: 1;
    }

    &.active:after {
        opacity: 1;
    }
}
