.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20rem;

    &--even .section__content {
        order: 2;
    }
}

.section__content {
    width: 53.5%;
    padding: 14rem 0 0 15rem;

    position: relative;
}

.section__number {
    @include font("Roboto", 700, 24rem, 1, rgba($white, 0.1));

    position: absolute;
    top: 3.8rem;
    left: 0;
    z-index: 1;
}

.section__suptitle {
    @include suptitle;
    margin-bottom: 2.7rem;
    padding-left: 9.6rem;
}

.section__title {
    margin-bottom: 2.7rem;

    @include font("Playfair Display", 600, 6.4rem, normal, $white);
}

.section__text {
    margin-bottom: 2.7rem;

    @include font("Roboto", 700, 1.8rem, 1.8, $white);
}

.section__button {
    @include font("Roboto", 700, 1.8rem, normal, $beige);

    position: relative;

    &:hover {
        text-decoration: underline;
    }
}

.section__preview {
    width: 38.7%;
}
